certifi==2023.7.22
charset-normalizer==3.3.2
distlib==0.3.7
filelock==3.13.1
gunicorn==21.2.0
idna==3.4
packaging==23.2
platformdirs==3.11.0
requests==2.31.0
urllib3==2.1.0
virtualenv==20.24.6
fastapi==0.104.1
uvicorn==0.24.0

